body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  width: 100%;
  height: 100%;
}
a {
  cursor: pointer;
}

.formClass {
  background-image: url("/images/travel.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 100px;
  width: 100%;
}
.intro {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.information {
  height: 100px;
  width: 60%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
#infoFirst,
#infoSecond {
  min-width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
ul {
  list-style-type: none;
}
h1,
h3 {
  color: white;
}
a {
  color: #00b7ff;
}
#locationForm {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 0;
}
input {
  height: 60px;
  margin-right: 0;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 200px;
}
input:focus,
button:focus {
  outline: 0;
}
button {
  font-size: 15px;
  border: none;
}
#d {
  position: relative;
  left: 30px;
}
#e {
  position: relative;
  right: 30px;
}
#inpPassengers {
  width: 200px;
}
#post {
  background-color: #4c9ff5;
  color: white;
  height: 60px;
  border-radius: 5px;
  border: none;
}
#reverse {
  position: relative;
  right: 235px;
}
.info {
  background-color: #17a2b8;
  color: white;
  height: 60px;
  border-radius: 5px;
  border: none;
  width: 80px;
}
.searchBar {
  position: relative;
  left: 29px;
}
.first_block {
  position: relative;
  left: 26px;
}
.third_block {
  position: relative;
  right: 26px;
}
#reverse {
  position: relative;
  background-color: #00b7ff;
  border-radius: 25px;
  border: none;
  right: 185px;
}

@media (max-width: 1200px) {
  .formClass {
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 200px;
    padding-left: 120px;
    padding-right: 200px;
    height: 800px;
  }
  #locationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* border: 3px solid black; */
    width: 900px;
    height: 500px;
    padding: 0;
  }

  .first_block {
    width: 800px;
  }
  .second_block {
    width: 850px;
    padding-left: 30px;
  }
  .first_block,
  .second_block {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 50px;
  }
  .third_block {
    width: 800px;
    position: relative;
    left: 50px;

    padding-left: 8px;
  }
  .first_block {
    display: flex;
    justify-content: center;
  }
  .second_block {
    display: flex;
    justify-content: center;
    position: relative;
    left: 25px;
  }
  #inpPassengers {
    width: 800px;
  }
  .searchBar {
    width: 350px;
  }
  .dateInput {
    width: 350px;
  }
  #reverse {
    position: relative;
    right: 330px;
  }
  .information {
    display: none;
  }
}

@media (max-width: 990px) {
  .formClass {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 200px;
    padding-left: 100px;
    height: 800px;
  }
  #locationForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 100px;
  }
  #reverse {
    position: relative;
    right: 330px;
  }
}
@media (max-width: 800px) {
  .formClass {
    background-image: url("/images/travel2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    max-width: 100%;
    overflow-x: hidden;
  }
  #locationForm {
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .intro {
    min-width: 480px;
  }
  .intro > h1 {
    font-size: 30px;
  }
  .intro > h3 {
    font-size: 20px;
  }
  .first_block {
    max-width: 600px;

    padding-left: 10px;
  }

  .third_block {
    max-width: 100%;

    padding-left: 70px;
  }
  .second_block {
    max-width: 91%;

    padding-left: 38px;
  }
  .dateInput {
    max-width: 244px;
  }
  #reverse {
    position: relative;
    right: 235px;
  }
  h1,
  h3 {
    margin-left: 50px;
  }
}
@media (max-width: 550px) {
  .intro {
    min-width: 390px;
    padding-left: 50px;
  }
  .formClass {
    max-width: 100%;
    overflow-x: hidden;

    padding-right: 180px;
  }
  #locationForm {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;

    padding-right: 180px;
  }
  .first_block {
    max-width: 510px;
    position: relative;
    right: 100px;
    padding-right: 100px;
  }
  .searchBar {
    width: 170px;
    margin-left: 0;
  }
  .second_block {
    max-width: 450px;
    padding-right: 200px;

    padding-left: 140px;
  }
  #inpPassengers {
    min-width: 400px;
  }
  .third_block {
    display: flex;
    flex-direction: row;

    max-width: 500px;
    padding-right: 300px;
    padding-left: 0;

    max-height: 60px;
  }
  #reverse {
    position: relative;
    left: -160px;
  }
  .intro {
    border: 1px solid black;
  }
  i {
    position: relative;
    right: 0px;
  }
  .dateInput {
    width: 168px;
  }
  #post {
    width: 70px;
  }
  .info {
    width: 70px;
  }
}
@media (max-width: 470px) {
  .formClass {
    padding-top: 80px;
  }
  .first_block {
    width: 360px;
    padding-left: 145px;
  }
  .searchBar {
    max-width: 110px;
  }
  #reverse {
    position: relative;
    left: 79px;
    border-radius: 10px;
    border: none;
  }
  .second_block {
    margin-top: 40px;
    width: 300px;
    padding-left: 190px;
    padding-right: 80px;
  }
  #inpPassengers {
    min-width: 300px;
  }
  .third_block {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    max-width: 340px;

    padding-left: 55px;
  }
  .dateInput {
    max-width: 115px;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
  }

  h3 {
    font-size: 13px;
    margin-left: 30px;
    width: 300px;
    border: hidden;
  }
}
